<table class="table table-stripped">
  <thead>
  <tr>
    <th class="text-right">#</th>
    <th>{{ 'name'|trans|capitalize }}</th>
    <th class="col-sm-1 text-right">{{ 'size'|trans|capitalize }}</th>
    <th class="col-sm-2 text-right">{{ 'created'|trans|capitalize }}</th>
    <th class="col-sm-1 text-right">{{ 'time to start'|trans|capitalize }}</th>
    <th class="col-sm-1 text-right">{{ 'execution time'|trans|capitalize }}</th>
    <th class="col-sm-2 text-right">{{ 'actions'|trans|capitalize }}</th>
  </tr>
  </thead>
  {% for message in messages %}
    <tr>
      <td class="text-right">{{ message.id }}</td>
      <td>{{ message.name }}
        {% if message.startAfter %}
          <span class="label label-default"><i class="fa fa-fw fa-clock-o"></i> {{ message.startAfter|localizeddate() }}</span>
        {% endif %}</td>
      <td class="text-right">{{ message.size|async_event_message_format_size }}</td>
      <td class="text-right">{{ message.createdAt|time_ago_in_words }}</td>
      <td class="text-right">{{ async_event_message_get_time_to_start(message) }}</td>
      <td class="text-right">{{ async_event_message_get_execution_time(message) }}</td>
      <td class="text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-primary collapsed" data-toggle="collapse"
                  data-target="#async-event-{{ message.id }}" aria-expanded="false">
            <i class="fa fa-plus"></i>
          </button>
          {% if async_event_message_can_be_played(message) %}
            <a href="{{ path('_async_event.message.play', {'hash': message.hash, 'referer': app.request.pathinfo}) }}"
               class="btn btn-xs btn-success">
              <i class="fa fa-play"></i>
            </a>
          {% endif %}
          {% if async_event_message_can_be_paused(message) %}
            <a href="{{ path('_async_event.message.pause', {'hash': message.hash, 'referer': app.request.pathinfo}) }}"
               class="btn btn-xs btn-warning">
              <i class="fa fa-pause"></i>
            </a>
          {% endif %}
          <a href="{{ path('_async_event.message.reset', {'hash': message.hash, 'referer': app.request.pathinfo}) }}"
             class="btn btn-xs btn-warning">
            <i class="fa fa-clone"></i>
          </a>
          {% if async_event_message_can_be_removed(message) %}
            <a href="{{ path('_async_event.message.remove', {'hash': message.hash, 'referer': app.request.pathinfo}) }}"
               class="btn btn-xs btn-danger">
              <i class="fa fa-trash"></i>
            </a>
          {% endif %}
        </div>
      </td>
    </tr>
    <tr id="async-event-{{ message.id }}" class="collapse"
        style="background: #0c4d5d; color: #fff;  overflow: auto;">
      <td colspan="6">
        {% for key,data in message.data %}
          <p style="margin: 0"><strong>{{ key }} </strong>: {{ data|async_event_message_json_encode }}</p>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
